body{
	display: flex;
	justify-content: center;
}


.mem-container{
	width: 800px;
	height: 400px;
	border: 2px solid black;
}
.wrapper{
	max-width: 500px;
	max-height: 350px;
}

.slider{
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.slider img{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
	scroll-snap-align: start;
}
.buttons-block {
	display: flex;
	border: 1px solid blue;
}

.buttons-block a{
	border: 1px black solid;
	height: 30px;
	width: 30px;
	background-color: red;
	border-radius: 50%;
	display: block;
}